* {
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #3ea079b0;
    color: rgba(242, 242, 219, 0.782);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 20px;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #155879, #4e085f);
    padding: 10px;
}

/* navigation bar styles */
.nav-bar{
    background-color: rgba(42, 108, 170, 0.215);
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 10px 20p;
    border-radius: 20px;
    box-shadow: 0px 10px 25px -1px #06182172;
    
}

/* Search Bar styles */
.nav-bar input[type="text"] {
    width: 60%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

/* Menu Items */
.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #FFD700; /* Gold hover effect */
}


/* Card Container */
.card-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
    
}

/* Card Styles */
.card {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /*width: 150px; /* Fixed width for cards */
    transition: transform 0.3s;
}

.card img {
    width: 200px; /* Image takes full width of the card */
    height: 400px; /* Fixed height for images */
    object-fit: cover; /* Maintain aspect ratio, avoid distortion */
}

.card:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}



.scroll-buttons {
    position: relative;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}

.scroll-button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}


